extends ../../layouts/default.pug
include ../../mixins/alertMessage

block main
    +alertMessage(5000) 
    
    h1(class="ab-4") Edit product 

    Form(
        action=`${prefixAdmin}/products/edit/${product._id}?_method=PATCH`
        id='form-edit-product'
        method='POST'
        enctype="multipart/form-data"
    )
        div(class='form-group')
            label(for='title') Title
            input(
                type='text'
                class='form-control'
                id='title'
                name='title'
                value=product.title
                required
            )
        div(class='form-group')
            label(for='describe') Description
            textarea(
                class='form-control'
                id='describe'
                name='decription'
                rows="5"
                value=product.description
            ) #{product.description}
        div(class='form-group')
            label(for='price') Price
            input(
                type='number'
                class='form-control'
                id='price'
                name='price'
                value=product.price
            )
        div(class='form-group')
            label(for='discount') Discount Percentage (0%-100%)
            input(
                type='text'  
                class='form-control'
                id='discount'
                name='discountPercentage'
                value=product.discountPercentage
                min=0
                max=100
            )

        div(class='form-group')
            label(for='quantity') Quantity
            input(
                type='number'
                class='form-control'
                id='stock'
                name='stock'
                value=product.stock
                min=0
            )
        div(
            class='form-group' 
            upload-image
        )
            label(for='thumbnail') Image
            input(
                type='file'
                class='form-control'
                id='thumbnail'
                name='thumbnail'
                accept='image/*'
                upload-image-input
            )
        div(image-preview-container)
            img(
                upload-image-preview,
                src=product.thumbnail,
                alt='Image preview',
            ) 
            button(
                type='button',
                class='d-none',
                btn-close-preview-img
                aria-label='Close'
            )
                span


        div(class='form-group') 
            label(for='position') Position 
            input(
                type='number'
                class='form-control'
                id='position'
                name='position'
                placeholder='Auto increase'
                min=1
                value=product.position
            )

        div(class='form-group form-check form-check-inline')
            input(
                type='radio'
                class='form-check-input'
                id='statusAvailable'
                name='status'
                value='available'
                checked=product.status === 'available' ? true : false
            )
            label(for='statusAvailable' class='form-check-label') Available 

        div(class='form-group form-check form-check-inline')
            input(
                type='radio'
                class='form-check-input'
                id='statusUnavailable'
                name='status'
                value='unavailable'
                checked=product.status === 'unavailable' ? true : false
            )
            label(for='statusUnavailable' class='form-check-label') Unavailable



        div(class='form-group')
            button(
                type='submit'
                class='btn btn-primary'
            ) Update


    script(src="/admin/js/products.js")