extend ../../layouts/default.pug
include ../../mixins/filterBar
include ../../mixins/search
include ../../mixins/pagination
include ../../mixins/changeStatus
include ../../mixins/alertMessage
include ../../mixins/sort

block main 

    +alertMessage(3000)


    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
    h1 Product list 

    .card.mb-3
        .card-header Filter and search
        .card-body 
            .row 
                .col-6
                    +filterBar(filterBar)
                .col-6 
                    +search(keyword)

    .card.mb-3
        .card-header Sort
        .card-body
            .row 
                .col-4 
                    +sort()

    .card.mb-3
        .card-header List
        .card-body
            .row 
                .col-8
                    +form-change-multi(`${prefixAdmin}/products/changes-multi-status?_method=PATCH`)
                .col-4 
                    a(
                        href=`${prefixAdmin}/products/create`
                        class='btn btn-outline-success'
                    ) Create new product
                
            table(
                class='table table-hover table-sm' 
                id='check-multi'
            )
                thead
                    tr
                        th No
                        th 
                            input(
                                type='checkbox'
                                id='check-all'
                            )
                        th Image
                        th Title
                        th Price
                        th Status 
                        th Position
                        th Action

                tbody#sortable
                    each product, index in products
                        tr(data-id=product._id)
                            td <b>#{paginationObj.limitItems*(paginationObj.currentPage-1)+index+1}</b>
                            td 
                                input(
                                    type='checkbox'
                                    class='check-item'
                                    id='check-item'
                                    value=product._id
                                )
                            td 
                                img(src=product.thumbnail alt=product.description width="100px" height="auto")
                            td #{product.title}
                            td #{product.price}$
                            td
                                if product.status === 'available'
                                    a(
                                        href='javascript:;'
                                        btn-change-status
                                        product-status=product.status
                                        product-id=product._id 
                                        class='badge bg-success'
                                    ) Available
                                else
                                    a(
                                        href='javascript:;'
                                        btn-change-status
                                        product-status=product.status
                                        product-id=product._id
                                        class='badge bg-danger'
                                    ) Unavailable
                            td 
                                input(
                                    type='number'
                                    style='width: 50px;'
                                    name='position'
                                    value=product.position
                                )
                            td
                                a(
                                    href=`${prefixAdmin}/products/detail/${product._id}`
                                    class='btn btn-secondary btn-sm me-1'
                                ) Detail                            
                                a(
                                    href=`${prefixAdmin}/products/edit/${product._id}`
                                    class='btn btn-warning btn-sm me-1'
                                ) Edit
                                button(
                                    class='btn btn-danger btn-sm'
                                    id='btn-delete'
                                    product-id=product._id
                                ) Delete

    +pagination(paginationObj) 

    // form change status
    form( 
        method='POST'
        id='change-status-form'
        data-path=`${prefixAdmin}/products/change-status`
    )
    // form delete status
    form(
        method='POST'
        id='delete-form'
        data-path=`${prefixAdmin}/products/delete`
    )
    script(src='/admin/js/products.js')