extend ../../layouts/default.pug
include ../../mixins/filterBar
include ../../mixins/search
block main 
    h1 Product list 

    .card.mb-3
        .card-header Filter and search
        .card-body 
            .row 
                .col-6
                    +filterBar(filterBar)
                .col-6 
                    +search(keyword)

    .card.mb-3
        .card-header List
        .card-body 

            table.table.table.hover.table-sm 
                thead
                    tr
                        th No
                        th Image
                        th Title
                        th Price
                        th Status 
                        th Action

                tbody
                    each product, index in products
                        tr 
                            td #{index+1}
                            td 
                                img(src=product.thumbnail alt=product.description width="100px" height="auto")

                            td #{product.title}
                            td #{product.price}$
                            td
                                if product.status === 'available'
                                    a(href='#' class='badge bg-success') Available
                                else
                                    a(href='#' class='badge bg-danger') Unavailable
                            td
                                button(class='btn btn-warning btn-sm me-1') Edit
                                button(class='btn btn-danger btn-sm') Delete