include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href='/')
                        img(src=generalSetting.logo alt=generalSetting.websiteName width='50')

            .col-5 
                .inner-search
                    form(action='/search' method='GET')
                        div(class='form-group d-flex mb-0')
                            input(
                                type='text'
                                placeholder='Search...'
                                class='form-control'
                                name='keyword'
                                value=keyword
                            )
                            button(
                                type='submit' 
                                class='btn btn-primary'
                                ) Search

            .col-4
                .inner-menu
                    ul(style="list-style-type: none;")
                        li
                            a(href='/') Home page
                        li(class='sub-menu')
                            - const pathProduct = '/products'
                            a(href=pathProduct) Product page
                            +sub-menu(layoutProductCategory, pathProduct)
                        li 
                            a(href='/cart') Cart (#{miniCart ? miniCart.totalProducts : 0})

                        if(!user)
                            li 
                                a(href='/user/register') Register
                            li 
                                a(href='/user/login') Login
                        else
                            li 
                                a(href='/user/profile') #{user.fullname}
                            li 
                                a(href='/user/logout') Logout
                            li 
                                a(href='/chat') Chat


