include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center
            .col-3
                .inner-logo
                    a(href='/')
                        img(src='/images/apple-logo.svg' alt='logo' width='50')

            .col-5 
                .inner-search
                    form(action='/search' method='GET')
                        div(class='form-group d-flex mb-0')
                            input(
                                type='text'
                                placeholder='Search...'
                                class='form-control'
                                name='keyword'
                                value=keyword
                            )
                            button(
                                type='submit' 
                                class='btn btn-primary'
                                ) Search

            .col-4
                .inner-menu
                    ul(style="list-style-type: none;")
                        li
                            a(href='/') Home page
                        li(class='sub-menu')
                            - const pathProduct = '/products'
                            a(href=pathProduct) Product page
                            +sub-menu(layoutProductCategory, pathProduct)
                            //- ul
                            //-     li
                            //-         a(href='/products/slug-1') Product 1
                            //-         ul
                            //-             li
                            //-                 a(href='/products/slug-2-1') Product 2.111
                            //-             li(class='sub-menu')
                            //-                 a(href='/products/slug-2-2') Product 2.9999
                            //-                 ul
                            //-                     li
                            //-                         a(href='/products/slug-2-2-1') Product 2.2.111111111111111111111111111111111111111111111111
                            //-                     li(class='sub-menu')
                            //-                         a(href='/products/slug-2-2-2') Product 2.2.2
                            //-                         ul
                            //-                             li
                            //-                                 a(href='/products/slug-2-2-2-1') Product 2.2.2.1
                            //-     li(class='sub-menu')
                            //-         a(href='/products/slug-2') Product 2
                            //-         ul
                            //-             li
                            //-                 a(href='/products/slug-2-1') Product 2.1
                            //-             li(class='sub-menu')
                            //-                 a(href='/products/slug-2-2') Product 2.2
                            //-                 ul
                            //-                     li
                            //-                         a(href='/products/slug-2-2-1') Product 2.2.1
                            //-                     li(class='sub-menu')
                            //-                         a(href='/products/slug-2-2-2') Product 2.2.2
                            //-                         ul
                            //-                             li
                            //-                                 a(href='/products/slug-2-2-2-1') Product 2.2.2.1
