extends ../../layouts/default.pug
include ../../mixins/alertMessage.pug
block main 
    h1(class='mb-4') Create new product category

    +alertMessage(5000)

    form(
        action=`${prefixAdmin}/product-category/create`
        method='POST'
        enctype='multipart/form-data'
    )
        div(class='form-group')
            label(for='title') Title
            input(
                type='text'
                class='form-control'
                id='title'
                name='title'
                required
            )
        div(class='form-group')
            label(for='parent_id') Parent category 
            input(
                type='text'
                class='form-control'
                id='parent_id'
                name='parent_id'
                required
            )
        div(class='form-group')
            label(for='describe') Description
            textarea(
                class='form-control'
                id='describe'
                name='description'
                rows="5"
            )     
        div(
            class='form-group' 
            upload-image
        )
            label(for='thumbnail') Image
            input(
                type='file'
                class='form-control'
                id='thumbnail'
                name='thumbnail'
                accept='image/*'
                upload-image-input
            )
        div(image-preview-container)
            img(
                upload-image-preview,
                src='',
                alt='Image preview',
            ) 
            button(
                type='button',
                class='d-none',
                btn-close-preview-img
                aria-label='Close'
            )
                span

        div(class='form-group') 
            label(for='position') Position 
            input(
                type='number'
                class='form-control'
                id='position'
                name='position'
                placeholder='Auto increase'
                min=1
            )
        div(class='form-group form-check form-check-inline')
            input(
                type='radio'
                class='form-check-input'
                id='statusAvailable'
                name='status'
                value='available'
                checked
            )
            label(for='statusAvailable' class='form-check-label') Available 
        div(class='form-group form-check form-check-inline')
            input(
                type='radio'
                class='form-check-input'
                id='statusUnavailable'
                name='status'
                value='unavailable'
            )
            label(for='statusUnavailable' class='form-check-label') Unavailable     
        div(class='form-group')
            button(
                type='submit'
                class='btn btn-primary'
            ) + Create         
//- //- _id
//- //- title 
//- //- description 
//- //- thumbnail 
//- //- status 
//- //- position 
//- //- deleted 
//- //- deletedAt 
//- //- createdAt
//- //- updatedAt
//- //- slug
