extends ../../layouts/default.pug
include ../../mixins/categoryTree.pug

block main 
    h1 Product category 
    
    .card.mb-3
        .card-header List
        .card-body
            .row 
                .col-8
                .col-4 
                    a(
                        href=`${prefixAdmin}/product-category/create`
                        class='btn btn-outline-success'
                    ) + Create new category
                
            table(
                class='table table-hover table-sm' 
                id='check-multi'
            )
                thead
                    tr
                        th No
                        th 
                            input(
                                type='checkbox'
                                id='check-all'
                            )
                        th Image
                        th Title
                        th Status 
                        th Position
                        th Action

                tbody#sortable
                    +category-tree(records)

    // form change status
    form( 
        method='POST'
        id='change-status-form'
        data-path=`${prefixAdmin}/product-category/change-status`
    )   
    // form delete status
    form(
        method='POST'
        id='delete-form'
        data-path=`${prefixAdmin}/product-category/delete`
    )
    script(src='/admin/js/product-category.js')