extends ../../layouts/default.pug

block main 
    h1(class="mb-4") Roles
    .card.mb-3 
        .card-header List of roles
        .card-body 
            .row 
                .col-8 
                .col-4 
                    a(
                        href=`${prefixAdmin}/roles/create`
                        class='btn btn-outline-success'
                    ) + Add new role

                table(class='table table-bordered table-striped mt-3')
                    thead 
                        tr 
                            th No 
                            th Title 
                            th Description
                            th Permission 
                    tbody 
                        if(roles.length)
                            each role, index in roles
                                tr 
                                    td= index + 1
                                    td= role.title
                                    td !{role.description}
                                    td 
                                        a(
                                            class='btn btn-secondary btn-sm me-1'
                                            href=`${prefixAdmin}/roles/detail/${role._id}`
                                        ) Detail 
                                        a(
                                            class='btn btn-warning btn-sm me-1'
                                            href=`${prefixAdmin}/roles/edit/${role._id}`
                                        ) Edit
                                        button(
                                            class='btn btn-danger btn-sm me-1'
                                            id='btn-delete-role'
                                            role-id=role._id
                                        ) Delete

                        else
                            tr 
                                td(colspan='4' class='text-center') There is no role yet

    // form delete 
    form(
        method='POST'
        id='delete-form'
        data-path=`${prefixAdmin}/roles/delete`
    )
    script(src='/admin/js/role.js')
