mixin category-tree(records, level=0)

    - var hasEditPermission = role.permission.some(p => p['products-category_edit'] === true)
    - var hasDeletePermission = role.permission.some(p => p['products-category_delete'] === true)


    each item, index in records
        - const prefix = '-- '.repeat(level)
        tr(data-id=item._id)
            td <b>#{item.index}</b>
            td 
                input(
                    type='checkbox'
                    class='check-item'
                    id='check-item'
                    value=item._id
                )
            td 
                img(src=item.thumbnail alt=item.description width="100px" height="auto")
            td #{prefix}#{item.title}
            td
                if(hasEditPermission)
                    if item.status === 'available'
                        a(
                            href='javascript:;'
                            btn-change-status
                            category-status=item.status
                            item-id=item._id 
                            class='badge bg-success'
                        ) Available
                    else
                        a(
                            href='javascript:;'
                            btn-change-status
                            category-status=item.status
                            item-id=item._id
                            class='badge bg-danger'
                        ) Unavailable
                else 
                    if item.status === 'available'
                        span(
                            btn-change-status
                            category-status=item.status
                            item-id=item._id 
                            class='badge bg-success'
                        ) Available
                    else
                        span(
                            btn-change-status
                            category-status=item.status
                            item-id=item._id
                            class='badge bg-danger'
                        ) Unavailable
            td 
                input(
                    type='number'
                    style='width: 50px;'
                    name='position'
                    value=item.position
                )
            td
                a(
                    href=`${prefixAdmin}/product-category/detail/${item._id}`
                    class='btn btn-secondary btn-sm me-1'
                ) Detail     
                if(hasEditPermission)                       
                    a(
                        href=`${prefixAdmin}/product-category/edit/${item._id}`
                        class='btn btn-warning btn-sm me-1'
                    ) Edit
                if(hasDeletePermission)
                    button(
                        class='btn btn-danger btn-sm'
                        id='btn-delete'
                        product-id=item._id
                    ) Delete

        if item.children
            +category-tree(item.children, level + 1)