mixin pagination(paginationObj)
    nav
        ul(class='pagination')

            li(class='page-item')
                if(paginationObj.currentPage > 1)
                    button(
                        class='page-link' 
                        button-pagination=paginationObj.currentPage-1
                        ) Previous

            - for (let i = Math.max(1, paginationObj.currentPage-2); i <= Math.min(paginationObj.currentPage+2, paginationObj.totalPages); i++) 
                li(class=`page-item ${paginationObj.currentPage === i ? 'active' : ''}`)
                    button(
                        class='page-link'
                        button-pagination=i
                    ) #{i}
            li(class='page-item')

                if(paginationObj.currentPage < paginationObj.totalPages)
                    button(
                        class='page-link inactive' 
                        button-pagination=paginationObj.currentPage+1
                        ) Next