extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")

        .row 
            .col-12 
                .chat(my-id= user._id) 
                    .inner-body    

                        for msg in chats
                            if msg.user._id == user_id
                                .inner-outgoing
                                    .inner-message= msg.message
                            else
                                .inner-incoming
                                    .inner-name= msg.user.fullname
                                    .inner-message= msg.message

                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                class="inner-input"
                                placeholder= "Type a message..."
                            )
                            button(
                                type="submit"
                                class="inner-button"
                            )
                                i.fas.fa-paper-plane

