extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head("Chat")

        .row 
            .col-12 
                .chat 
                    .inner-body    
                        .inner-incoming 
                            .inner-name name1 
                            .inner-message msg1 
                        .inner-outgoing
                            .inner-content Msggggggggggg 
                        .inner-incoming
                            .inner-name name2 
                            .inner-message msg2
                        .inner-outgoing
                            .inner-content Msggggggggggg
                        .inner-incoming
                            .inner-name name3 
                            .inner-message msg3
                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                class="inner-input"
                                placeholder="Type a message..."
                            )
                        button(
                            type="submit"
                            class="inner-button"
                        )
                            i.fas.fa-paper-plane

