extend ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
    .container.my-5
        .row.justify-content-center 
            .col-8
                h1(class="text-center mb-4") Your OTP has been sent to <b style="color: blue">#{email}</b>.<br/> Please enter it below.
                //- form to verify OTP
                form(
                    action='/user/password/otp'
                    method='POST'
                    id='verify-otp-form'
                )
                    input(
                        type='hidden'
                        name='email'
                        value=email
                    )
                    div(class='form-group mt-3')
                        label(for='OTP') OTP
                        input(
                            type='text'
                            class='form-control'
                            id='OTP'
                            name='OTP'
                            required
                        )

                    div(class='form-group mt-3 text-center')
                        button(
                            type='submit'
                            id="verify-otp"
                            class='btn btn-primary'
                        ) Verify OTP 

                    p(
                        id="countdown"
                    ) Expires in: 
                        span(
                            id="countdown-timer"
                            data-expired-time=OTP_expired_time
                        )
                //- form to resend OTP
                form(
                    action=`/user/password/recover`
                    method='POST'
                    id='resend-otp-form'
                    class='d-none'
                )
                    input(
                        type='hidden'
                        name='email'
                        value=email
                    )
                    div(class='form-group mt-3 text-center')
                        button(
                            type='submit'
                            class='btn btn-primary'
                        ) Resend OTP 

    script(src='/js/countDown.js')
