.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard 

            - var hasProductsViewPermission = role.permission.some(p => p['products_view'] === true)
            if hasProductsViewPermission
                li 
                    a(href=`${prefixAdmin}/products`) Product list
            - var hasProductCategoryViewPermission = role.permission.some(p => p['products-category_view'] === true)
            if hasProductCategoryViewPermission            
                li 
                    a(href=`${prefixAdmin}/product-category`) Product category
            - var hasRoleViewPermission = role.permission.some(p => p['roles_view'] === true)
            if hasRoleViewPermission         
                li 
                    a(href=`${prefixAdmin}/roles`) Roles
            - var hasViewPermission = role.permission.some(p => p['roles_permission'] === true)
            if hasViewPermission                
                li 
                    a(href=`${prefixAdmin}/roles/permissions`) Permission
            - var hasAccountViewPermission = role.permission.some(p => p['account_view'] === true)
            if hasAccountViewPermission    
                li 
                    a(href=`${prefixAdmin}/accounts`) Accounts
            li 
                a(href=`${prefixAdmin}/setting/general`) General settings