.sider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard 
            li 
                a(href=`${prefixAdmin}/products`) Product list
            li 
                a(href=`${prefixAdmin}/product-category`) Product category
            li 
                a(href=`${prefixAdmin}/roles`) Roles
            li 
                a(href=`${prefixAdmin}/roles/permissions`) Permission
            li 
                a(href=`${prefixAdmin}/accounts`) Accounts